

body{
    width: 96vw;
    height: 40em;
    position: relative;
    font-size: 4.5em !important;

}

.col-xs-12.col-sm-8.text-center {
    background-color: black;
    padding-bottom: 3%;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    font-size: 1em !important;
}

.col-sm-12.btn.btn-default {
    background-color: rgb(255, 193, 97);
    color: white;
}

.clear{
    background-color: #E4E4E4 !important;
}

.form-control{
    height: 2em !important;
    font-size: 1.2em !important;
    background-color: #A80046 !important;
    color:white !important;
    text-align: right !important;
    padding-right: .7em !important;
}

.col-xs-12.btn.btn-default {
    background-color: rgb(255, 161, 70);
}

.leftCol{
    padding-right: 0 !important;
}

.rightCol{
    padding-left: 0 !important;
}

.row:first-child{
    margin-top: 5%;

}
